.weather {
  place-self: center;
  padding: 40px;
  border-radius: 2px;
  background-image: linear-gradient(45deg, #93c6eb, #b3a7cf);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background-color: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background-color: #ebfffc;
  cursor: pointer;
}

.weather-icon {
  width: 150px;
  margin: 30x 0;
}

.temperature {
  font-size: 80px;
  color: #ffffff;
  line-height: 1;
}
.location {
  font-size: 40px;
  color: #ffffff;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}
