.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: black;
}

@media (max-width: 768px) {
  .app {
    padding: 15px;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .app {
    padding: 0px;
  }
}